:root{
    --MEL: MEL;
    --ML: MEL;
    --MR: MR;
    --MM: MM;
    --MSB: MSB;
    --MB: MB;
    --IR: IR;
    --IB: IB;
    --BB: BB;
    --yellow: #FFE715;
    --bg: #192732;
    --text: #3b3e40;
    --wh: #ffffff;
}
p{
    margin: 0 !important;
}
a{
    text-decoration: none !important;
}
/* //////////////////////////////////// */
.main{
    background: #0C141B;
    padding: 150px 0;
}
.main__container{
    display: flex;
    gap: 20px;
}
.main__sort{
    max-width: 289px;
    width: 100%;
    border-radius: 8px;
    background: var(--bg);
}
.img-dash{
    width: 14px;
    height: 14px;
    margin-right: 12px;
}
.sort{
    padding: 24px;
}
.sort__price{
    display: flex;
    align-items: center ;
    margin-bottom: 24px;
}
.sort__texts {
    font-size: 16px;
    line-height: 120%; 
    color: var(--wh);
    font-family: var(--MR);
    transition: color 300ms;
}
.sort__texts:hover{
    color: var(--yellow);
}
.sort__state{
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}
.state__content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.state__content > img{
    margin-right: 12px;
}
.divider{
    width: 241px;
    height: 1px;
    background: var(--wh);
}
.form-check{
    display: flex;
    align-items: center;
}
.state__select-btn{
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 12px;
}
.sort__size{
    margin: 24px 0;
}
.size__content{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.sort__producer{
    margin-bottom: 24px;
}
.producer__content{
    display: flex;
    align-items: center;
    margin: 24px 0;
}
/* main */
.card{
    background: #2F4B61 !important;
    transition:  300ms;
}
.content__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card:hover{
    background: var(--yellow) !important;
}
.main__sort{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}
.sort__button{
    margin-top: auto;
}
.cart__loc-icon{
    margin: 0;
    margin-right: 12px;
}
.card__location{
    margin-top: 10px;
}
.card__btn{
    font-size: 14px;
    line-height: 24px; 
    text-transform: uppercase;
    color: #2E322E;
    font-family: var(--MR);
    background: var(--yellow);
    padding: 16px 32px;
    border-radius: 4px;
}
.content__cards-btn{
    text-align: center;
    margin: 30px 0 10px 0;
}


.main__container-mobile{
    display: none;
}
/* /////////////// MOBILE ///////////////// */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}
.mobile__cards{
    margin: 0 auto;
}
.filter__button{
    margin: 0 auto;
    padding: 16px 73px;
    width: 432px;
    border-radius: 8px;
    background: rgba(255, 231, 21, 0.25);
}
.filter__button > a{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.filter__button-icon{
    width: 24px;
    height: 24px;
}
.filter__button-text{
    font-size: 14px;
    line-height: 24px;
    color: var(--wh);
    text-transform: uppercase;
    font-family: var(--MR);
}
.card__mobile{
    width: 206px;
    height: 289px;
}
.card__mobile-img{
    width: 204px !important;
    height: 160px !important;
}
.card__mobile-title{
    font-size: 14px;
    line-height: 150%; 
    color: var(--wh);
    font-family: var(--MR);
}
.card__location{
    margin: 0;
}
.card__bottom{
    margin-top: 15px;
}
.mobile__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin: 50px auto !important;

}



































@media (max-width: 480px) {
    .main__container{
        display: none;
    }
    .main__container-mobile{
        display: block;
    }
}
@media (max-width: 768px) {
    .main__container{
        justify-content: center !important;
    }
}
@media (max-width: 991px) {
    .main__container{
        justify-content: center !important;
        padding: 0 15px !important;
    }
    .content__cards{
        width: 290px;
    }

}